h1 {
  font-weight: 100;
  font-size: 24px;
  margin-bottom: 10px;
}

h3 {
  font-weight: 100;
  margin-bottom: 3px;
  margin-top: 0px;
}

.slider {
  width: 200px;
}

.textbox {
  width: 30px;
}

.sliderdiv {
  width: 460px;
  float: left;
  margin-right: 40px;
}

.greeks {
  width: 400px;
  float: left;
}

.plot {
  width: 400px;
}